# TiMOS-B-24.10.R2 both/x86_64 Nokia 7750 SR Copyright (c) 2000-2024 Nokia.
# All rights reserved. All use subject to applicable license agreements.
# Built on Wed Dec 18 23:49:33 UTC 2024 by builder in /builds/2410B/R2/panos/main/sros
# Configuration format version 24.10 revision 0

# Generated WED JUL 16 22:09:15 2025 UTC

exit all
configure
#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name "olt1"
        config-backup 5
        dns
            address-pref ipv6-first
        exit
        netconf
            listen
                no shutdown
            exit
        exit
        snmp
            streaming
                no shutdown
            exit
            packet-size 9216
        exit
        time
            sntp
                shutdown
            exit
            zone UTC
        exit
        bluetooth
            module A
            exit
            power off
        exit
    exit
#--------------------------------------------------
echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            profile "administrative"
                netconf
                    base-op-authorization
                        action
                        cancel-commit
                        close-session
                        commit
                        copy-config
                        create-subscription
                        delete-config
                        discard-changes
                        edit-config
                        get
                        get-config
                        get-data
                        get-schema
                        kill-session
                        lock
                        validate
                    exit
                exit
                entry 10
                    match "configure system security"
                    action permit
                exit
                entry 20
                    match "show system security"
                    action permit
                exit
                entry 30
                    match "tools perform security"
                    action permit
                exit
                entry 40
                    match "tools dump security"
                    action permit
                exit
                entry 42
                    match "tools dump system security"
                    action permit
                exit
                entry 50
                    match "admin system security"
                    action permit
                exit
                entry 100
                    match "configure li"
                    action deny
                exit
                entry 110
                    match "show li"
                    action deny
                exit
                entry 111
                    match "clear li"
                    action deny
                exit
                entry 112
                    match "tools dump li"
                    action deny
                exit
            exit
            user "admin"
                password "$2y$10$TQrZlpBDra86.qoexZUzQeBXDY1FcdDhGWdD9lLxMuFyPVSm0OGy6"
                access console ftp netconf grpc
                no restricted-to-home
                console
                    member "administrative"
                exit
            exit
            snmp
                community "76HzdddhlPpRo1Vql+ZB5spLqccgYQ==" hash2 r version v2c
            exit
            per-peer-queuing
            telnet
            exit
        exit
    exit
#--------------------------------------------------
echo "System Login Control Configuration"
#--------------------------------------------------
    system
        login-control
            ssh
                inbound-max-sessions 30
            exit
        exit
    exit
#--------------------------------------------------
echo "Log Configuration"
#--------------------------------------------------
    log
        log-id 23 name "23"
            from debug-trace
            to memory
            no shutdown
        exit
        log-id 99 name "99"
            description "Default  Log"
            no shutdown
        exit
    exit
#--------------------------------------------------
echo "System gRPC Configuration"
#--------------------------------------------------
    system
        grpc
            allow-unsecure-connection
            rib-api
                no shutdown
            exit
            no shutdown
        exit
    exit
#--------------------------------------------------
echo "Oper-Groups (Declarations) Configuration"
#--------------------------------------------------
    service
    exit
#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
    card 1
        card-type iom-1
        mda 1
            mda-type me12-100gb-qsfp28
            no shutdown
        exit
        no shutdown
    exit
#--------------------------------------------------
echo "Connector Configuration"
#--------------------------------------------------
    port 1/1/c1
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c2
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c3
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c4
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c5
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c6
        connector
            breakout c1-100g
        exit
        no shutdown
    exit
    port 1/1/c7
        shutdown
    exit
    port 1/1/c8
        shutdown
    exit
    port 1/1/c9
        shutdown
    exit
    port 1/1/c10
        shutdown
    exit
    port 1/1/c11
        shutdown
    exit
    port 1/1/c12
        shutdown
    exit
#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
    port 1/1/c1/1
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
    exit
    port 1/1/c2/1
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
    exit
    port 1/1/c3/1
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
    exit
    port 1/1/c4/1
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
    exit
    port 1/1/c5/1
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
    exit
    port 1/1/c6/1
        ethernet
            mode hybrid
            encap-type dot1q
        exit
        no shutdown
    exit
    port A/1
    exit
    port A/3
        shutdown
        ethernet
        exit
    exit
    port A/4
        shutdown
    exit
#--------------------------------------------------
echo "System Sync-If-Timing Configuration"
#--------------------------------------------------
    system
        sync-if-timing
            begin
            commit
        exit
    exit
#--------------------------------------------------
echo "Management Router Configuration"
#--------------------------------------------------
    router management
    exit

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router Base
        interface "system"
            address 10.10.10.5/32
            no shutdown
        exit
        interface "to-agg1"
            address 10.3.5.5/24
            port 1/1/c3/1:35
            no shutdown
        exit
        interface "to-olt2"
            address 10.5.6.5/24
            port 1/1/c2/1:56
            no shutdown
        exit
#--------------------------------------------------
echo "OSPFv2 Configuration"
#--------------------------------------------------
        ospf 0
            area 0.0.0.0
                interface "system"
                    no shutdown
                exit
                interface "to-agg1"
                    no shutdown
                exit
                interface "to-olt2"
                    no shutdown
                exit
            exit
            no shutdown
        exit
#--------------------------------------------------
echo "LDP Configuration"
#--------------------------------------------------
        ldp
            import-pmsi-routes
            exit
            tcp-session-parameters
            exit
            interface-parameters
                interface "to-agg1" dual-stack
                    ipv4
                        no shutdown
                    exit
                    no shutdown
                exit
                interface "to-olt2" dual-stack
                    ipv4
                        no shutdown
                    exit
                    no shutdown
                exit
            exit
            targeted-session
            exit
            no shutdown
        exit
    exit

#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service
        customer 1 name "1" create
            description "Default customer"
        exit
        vprn 1000 name "1000" customer 1 create
            interface "to-subscriber" create
            exit
            interface "to-mpls-network" create
            exit
        exit
        vpls 10 name "10" customer 1 create
            stp
                shutdown
            exit
            sap 1/1/c4/1:0 create
                no shutdown
            exit
            sap 1/1/c5/1:0 create
                dhcp
                    option
                        action replace
                        remote-id string "abcdef"
                    exit
                    no shutdown
                exit
                dhcp6
                    ldra
                        interface-type client-facing
                        options
                            interface-id ascii-tuple
                            remote-id string "abcdef"
                        exit
                        no shutdown
                    exit
                exit
                no shutdown
            exit
            no shutdown
        exit
        vprn 1000 name "1000" customer 1 create
            interface "to-subscriber" create
                address 100.65.0.1/24
                dhcp
                    server 10.151.151.151
                    lease-populate 1
                    gi-address 100.65.0.1
                    no shutdown
                exit
                ipv6
                    address 2010:4:1::1/56
                    dhcp6-relay
                        neighbor-resolution
                        option
                            interface-id ascii-tuple
                            remote-id
                        exit
                        server 2800:350::118
                        no shutdown
                    exit
                exit
                sap 1/1/c1/1:0 create
                exit
            exit
            interface "to-mpls-network" create
                address 10.42.42.1/30
                ipv6
                    address 2301:350::1/64
                exit
                sap 1/1/c3/1:10 create
                exit
            exit
            static-route-entry 0.0.0.0/0
                next-hop 10.42.42.2
                    no shutdown
                exit
            exit
            static-route-entry 2800:350::118/128
                next-hop 2301:350::2
                    no shutdown
                exit
            exit
            bgp-ipvpn
                mpls
                    route-distinguisher 65001:1000
                    vrf-target target:65001:1
                    no shutdown
                exit
            exit
            no shutdown
        exit
    exit
#--------------------------------------------------
echo "Router (Service Side) Configuration"
#--------------------------------------------------
    router Base
#--------------------------------------------------
echo "OSPFv2 Configuration"
#--------------------------------------------------
        ospf 0
            no shutdown
        exit
    exit

#--------------------------------------------------
echo "Log all events for service vprn, log syslog tls-client-profile Configuration"
#--------------------------------------------------
    log
    exit
#--------------------------------------------------
echo "System Configuration Mode Configuration"
#--------------------------------------------------
    system
        management-interface
            configuration-mode classic
        exit
    exit

exit all

# Finished WED JUL 16 22:09:15 2025 UTC
